{require_otp_vsn, "R13B04|R14"}.

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning, {d,'PROPER'}]}.

{deps, [
       {riak_kv, "0.14.*", {git, "git://github.com/basho/riak_kv", {branch, "master"}}},
       {sext, "0.1.*", {git, "git://github.com/uwiger/sext", {branch, "master"}}},
       {proper, "1.*", {git, "git://github.com/manopapad/proper.git", {branch, "master"}}}
       ]}.


